@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --cor0: #292929;
    --cor1: #323233;
    --cor2: #a2e243;
    --cor3: #41c206;
    --cor4: #008000; 
    --font: "Montserrat", sans-serif;
}
body{
    background-color: var(--cor0);
    font-family: var(--font);
}

h1{
    color: rgb(230, 230, 240);
    margin: 8px;
    padding: 2px;
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
    text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.28);
}
form > p {
    color: wheat;
    font-size: small;
    font-weight: 600;
    font-family: var(--font);
    left: 58%;
    width: 45px;
    margin: 4px;
    position: relative;
}
form > label{
    font-family: var(--font);
    font-size: 1em;
    font-weight: 600 ;
    color: #ffff;
}
h3{
    background-color: rgba(255, 255, 255, 0.954);
    width: auto;
    height: auto;
    margin: 0px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
}
form{
    width: 360px;
    padding: 12px;
    margin: 100px auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor1);
    box-shadow: 0.5px 0.5px 7px rgba(206, 241, 206, 0.219);
}
#inSenha{
    padding: 7px;
    border-radius: 4px;
    box-shadow: 1px 0.5px 5px rgba(128, 128, 128, 0.553);
}
#btnVerificar:hover{
    color: var(--cor3);
    background-color: var(--cor2);
}
#btnVerificar{
    width: 70px;
    height: 29px;
    padding: 7px;
    font-weight: 600;
    color: #ffff;
    border-style: hidden;
    background-color: var(--cor3);
    box-shadow: 1px 0.5px 5px rgba(128, 128, 128, 0.536);
}
#regras{
    width: 360px;
    margin: auto;
    padding: 10px;
    border-radius:  0px 0px 10px 10px;
    box-shadow: 0.5px 0.5px 7px rgba(206, 241, 206, 0.219);
    background-color: var(--cor1);

}
#regras > ul > li { 
    list-style: none;
    padding: 2px;
    margin: 2px;

    font-family: var(--font);
    font-weight: 500;
    font-size: small;    
    text-align: left;
    color: #f33e08f8;

}
